<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Email Input Field</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=PT+Sans'>

      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

  
</head>

<body>
  <div class="container">
	<div class="container__item">
		<form class="form" method="POST">
			<input type="text" name="Course" class="form__field" placeholder="Your class" />
			<input type="submit" class="btn btn--primary btn--inside uppercase">
		</form>
	</div>
</div>
  
  
</body>
</html>
